.git
.env
.env.*
**/.env
**/.env.*
**/.data
node_modules
**/node_modules
dist
**/dist
build
**/build
.next
**/.next
.turbo
**/.turbo
coverage
**/coverage
output
*.log
*.sqlite
*.sqlite-*
*.db
*.tsbuildinfo
